<ion-content>
  <div (ionChange)="showdate()" style="display: flex; flex-direction: column; justify-content:center; align-items:center; height:100%; position: relative">
    <ion-datetime [(ngModel)]="datetime"
      value="2022-04-21T00:00:00"
      min="1922-03-01T00:00:00"
      max="2122-05-31T23:59:59"
    ></ion-datetime>

    <div (click)="closemodal()" style="position: absolute; top: 12px; right: 8px;"><ion-icon style="font-size: 20px;" name="close-circle-outline"></ion-icon></div>

    <div (click)="selectdate()" style="width: 100%; display:flex; justify-content: space-around; padding-top: 8px;">
      <div style="width:80%; text-align: center; padding: 10px 12px; border:1px solid black; border-radius: 8px;">Select</div>
    </div>

  </div>


</ion-content>
